/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.opd_nav .left {
  position: relative;
}

.wrapper {
  display: none;
  z-index: 1;
  position: absolute;
  right: 5%;
  top: 60px;
  height: 250px;
  width: 280px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 8px 20px 0px 20px;
  justify-content: space-between;
}

.wrapper header .icons {
  z-index: 1;
  display: flex;
}

.wrapper header .icons span {
  height: 35px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.wrapper .icons span:last-child {
  margin-right: -10px;
}

.wrapper header .icons span:hover {
  background: #f2f2f2;
}

.wrapper header .current-date {
  font-size: 13px;
  font-weight: 500;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px;
  border-bottom: 30px solid #fff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.wrapper .calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.wrapper .calendar .days {
  margin-bottom: 10px;
}

.wrapper .calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 10px;
}

.wrapper .calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.wrapper .calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}

.wrapper .days li.inactive {
  color: #aaa;
}

.wrapper .days li.active {
  color: #fff;
}

.wrapper .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .days li.active::before {
  background: #9B59B6;
}

/* .days li:not(.active):hover::before{
  background: #f2f2f2;
} */