@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: #1757C2;
    --font-color-primary: #fff;
    --font-color-secondary: #373737;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

html input:focus,
html textarea:focus,
html select:focus {
    outline: none;
}

html a {
    text-decoration: none;
}

html li {
    list-style-type: none;
}

html::-webkit-scrollbar {
    display: none;
}

.doctor-registration {
    display: block;
    /* visibility: hidden; */
    top: 0;
    left: 0;
    position: absolute;
    z-index: 300;
    height: 100vh;
    width: 100%;
    background-color: rgba(168, 168, 168, 0.5);
}

.doctor-registration .modal {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80vw;
    height: auto;
    background-color: #fff;
    transform: translate(-50%, -40%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.doctor-registration .modal .modal__header {
    padding: 1.3rem 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 35%;
    align-items: center;
}

.doctor-registration .modal .modal__header .modal__header__heading {
    font-size: 1.75rem;
    font-weight: 600;
}

.doctor-registration .modal .modal__header .modal-closebtn {
    cursor: pointer;
}

.doctor-registration .modal form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doctor-registration .modal form .modal__container {
    width: 95%;
    height: auto;
    display: flex;
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-color: #f5f5f5;
}

.doctor-registration .modal form .modal__container .modal__container__left {
    width: 100%;
    border-right: 1px solid rgba(105, 105, 105, 0.2);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__header {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid rgba(105, 105, 105, 0.2);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__header .modal__container__left__nav__btn {
    display: flex;
    width: 25%;
    height: 2rem;
    padding: 2rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__header .modal__container__left__nav__btn.active {
    background-color: var(--accent-color);
    color: var(--font-color-primary);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body {
    display: none;
    margin: 1rem 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body p {
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body input:not([type=radio]) {
    height: 2.85rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    border-style: none;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body input[type=file] {
    box-shadow: none;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body input[type=radio] {
    transform: scale(1.3);
    accent-color: var(--accent-color);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body select {
    height: 2.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails {
    display: flex;
    flex-direction: column;
    height: 58vh;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordatils__name_header,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordatils__contact_header,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordatils__name_header,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordatils__contact_header {
    font-size: 1.3rem;
    font-weight: 600;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordetails__name_input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordetails__contact_input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordetails__name_input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordetails__contact_input {
    display: flex;
    justify-content: space-between;
    gap: 0 0.6rem;
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordetails__name_input input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__name .doctordetails__contact_input input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordetails__name_input input,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__contact .doctordetails__contact_input input {
    width: 33%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_gender {
    width: 15%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_gender .doctordatils__4col_gender_input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_gender .doctordatils__4col_gender_input .box {
    display: flex;
    margin-bottom: 1.6rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_gender .doctordatils__4col_gender_input .box input[type=radio] {
    transform: scale(1.3);
    accent-color: var(--accent-color);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_gender .doctordatils__4col_gender_input .box p {
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_dob {
    width: 32%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_dob .doctordetails__4col_dob_input input {
    width: 94%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_dob .doctordetails__4col_dob_input .box {
    width: 94%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_language,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_doctortype {
    width: 23.5%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_language .doctordatils__4col_language_input select,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_language .doctordatils__4col_doctortype_input select,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_doctortype .doctordatils__4col_language_input select,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__4col .doctordetails__4col_doctortype .doctordatils__4col_doctortype_input select {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address {
    width: 65%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address .doctordetails__2col_address__line1 {
    display: flex;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address .doctordetails__2col_address__line1 input {
    width: 50%;
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address .doctordetails__2col_address__line2 {
    display: flex;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address .doctordetails__2col_address__line2 select,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col_address .doctordetails__2col_address__line2 input {
    width: 33.33%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col__occupation {
    width: 32%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col__occupation .doctordetails__2col__occupation__input select,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__2col .doctordetails__2col__occupation .doctordetails__2col__occupation__input input {
    width: 100%;
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col {
    display: flex;
    justify-content: stretch;
    margin-bottom: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_medicalrecord {
    width: 40%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_medicalrecord input {
    width: 96%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_govtid {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_govtid .doctordetails__1col_govtid_input {
    display: flex;
    gap: 0.6rem;
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_govtid .doctordetails__1col_govtid_input select {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .doctordetails .doctordetails__1col .doctordetails__1col_govtid .doctordetails__1col_govtid_input input {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails {
    display: flex;
    flex-direction: column;
    height: 58vh;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupone {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupone .otherdetails__groupone__bloodgroup .otherdetails__groupone__bloodgroup__input .box-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    gap: 5rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupone .otherdetails__groupone__bloodgroup .otherdetails__groupone__bloodgroup__input .box-container .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupone .otherdetails__groupone__bloodgroup .otherdetails__groupone__bloodgroup__input .box-container .box p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__grouptwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__grouptwo .otherdetails__grouptwo__box {
    width: 50%;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__grouptwo .otherdetails__grouptwo__box .otherdetails__grouptwo__box____input {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__grouptwo .otherdetails__grouptwo__box .otherdetails__grouptwo__box____input .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__grouptwo .otherdetails__grouptwo__box .otherdetails__grouptwo__box____input .box p {
    margin-bottom: 0;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupthree {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupthree .otherdetails__groupthree__input {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupthree .otherdetails__groupthree__input select {
    width: 21%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .otherdetails .otherdetails__groupthree .otherdetails__groupthree__input input {
    width: 44%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 58vh;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.8rem;
    border: rgba(105, 105, 105, 0.8);
    border-radius: 0.5rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .selectbtn {
    border: 1px solid rgba(105, 105, 105, 0.2);
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 -0.2rem;
    background-color: #fff;
    cursor: pointer;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .selectbtn.active {
    background-color: var(--accent-color);
    color: var(--font-color-primary);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-opthalmic,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-systemic {
    margin-bottom: 2rem;
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-opthalmic .history-opthalmic__input__btn,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-opthalmic .history-systemic__input__btn,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-systemic .history-opthalmic__input__btn,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-systemic .history-systemic__input__btn {
    margin-bottom: 1.3rem;
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-systemic .history-systemic__input__btn .history-systemic__input__btn-group {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-medical-family {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-medical-family .box {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-medical-family .box input {
    width: 100%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-paediatric .history-paediatric__body p {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-paediatric .history-paediatric__body .box {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 8rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-paediatric .history-paediatric__body .box .box-body-nutrition {
    margin-left: 2.8rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history .history-paediatric .history-paediatric__body .box .box-body-txt {
    margin-left: 8rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .history::-webkit-scrollbar,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies::-webkit-scrollbar {
    display: none;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 57vh;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.8rem;
    border: rgba(105, 105, 105, 0.8);
    border-radius: 0.5rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .selectbtn {
    border: 1px solid rgba(105, 105, 105, 0.2);
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 -0.2rem;
    background-color: #fff;
    cursor: pointer;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .selectbtn.active {
    background-color: var(--accent-color);
    color: var(--font-color-primary);
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-drug,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-contact,
.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-food {
    margin-bottom: 1.5rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-drug .allergies-drug__body .allergies-drug__body__btn {
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-food .allergies-food__body .allergies-food__body__btn {
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-contact .allergies-contact__body .allergies-contact__body__btn {
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-other {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body .allergies .allergies-other textarea {
    width: 60%;
}

.doctor-registration .modal form .modal__container .modal__container__left .modal__container__left__body.active {
    display: block;
}

.doctor-registration .modal form .modal__container .modal__container__right {
    width: 45%;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__header {
    border-bottom: 1px solid rgba(105, 105, 105, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__header p {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body {
    margin: 1rem 2rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-type .appt-type__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0 6rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-type .appt-type__input input[type=radio] {
    accent-color: var(--accent-color);
    transform: scale(1.3);
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-type .appt-type__input p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: -5.2rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-datetime__input {
    display: flex;
    gap: 1rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-datetime__input input {
    height: 2.85rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-datetime__input .date {
    width: 30%;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-datetime__input .time {
    width: 20%;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-location,
.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-types {
    display: flex;
    justify-content: space-between;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-location select,
.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-types select {
    width: 20rem;
    height: 2.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-location select option,
.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-types select option {
    height: inherit;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-location p,
.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .appt-types p {
    margin-bottom: 0.6rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .reservation {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.doctor-registration .modal form .modal__container .modal__container__right .modal__container__right__body .reservation-container {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(105, 105, 105, 0.2);
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.doctor-registration .modal form .modal__createappointmentbtn {
    display: flex;
    width: 100%;
    padding: 2rem 3.3rem;
    justify-content: flex-end;
}

.doctor-registration .modal form .modal__createappointmentbtn button {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border-style: none;
    background-color: var(--accent-color);
    color: var(--font-color-primary);
    cursor: pointer;
}

.doctor-registration.active {
    display: block;
    visibility: visible;
}